node_modules
!scripts/stubs/node_modules/
!scripts/stubs/node_modules/**/*
*.log
coverage
.env
.dist
packages/*/dist
examples/minimal/.soipack
examples/minimal/dist
examples/minimal/release
**/*.tsbuildinfo
.demo
